$TTL    604800
@       IN      SOA     example.com. admin.example.com. (
                  2         ; Serial
             604800         ; Refresh
              86400         ; Retry
            2419200         ; Expire
             604800 )       ; Negative Cache TTL
;
@       IN      NS      ns.example.com.
@       IN      A       192.168.30.10
ns      IN      A       192.168.30.10
www     IN      A       192.168.20.10
db      IN      A       192.168.10.10
siem    IN      A       192.168.40.10
ldap    IN      A       192.168.30.10
fw1     IN      A       192.168.20.1
fw2     IN      A       192.168.40.2
